@import "./_common.scss";

.number {
  font-weight: 900;
}

.unit {
  font-weight: 900;
  font-size: .65em;
  color: var(--c-acc);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
